*{
    margin : 0;
    padding : 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    color : white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

/*Pagines inicialment actives i ocultes*/
.pagina-oculta {
    display: none !important;
}

.pagina-activa {
    display: block;
}

#pagina-principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 80vh;
    padding : 20px;
}

#imatge-mon-reves {
    max-width: 400px;
    max-height: 200px;
}

.logo h1 {
    text-align: center;
    margin-bottom: 30px;
    padding : 15px 30px;
    border : 2px solid white;
    border-radius: 5px;
}

h1 {
    color :red;
    font-weight: bold;
}

.boto-portal {
    text-align: center;
    display: block;
    margin : 20px auto;
    padding : 15px 30px;

    background-color: black;
    color: red;

    border : 2px solid white;
    border-radius: 5px;

    font-weight: bold;
    font-size: 16px;

    cursor: pointer;

    transition : all 0.3 ease;
}

.boto-portal:hover {
    background-color: black;
    transform: translateY(-2px);
    box-shadow: 0 5px 15px red;
}

.boto-tornar {
    text-align: center;
    display: block;
    margin : 20px auto;
    padding : 15px 30px;

    background-color: black;
    color: red;

    border : 2px solid white;
    border-radius: 5px;

    font-weight: bold;
    font-size: 16px;

    cursor: pointer;

    transition : all 0.3 ease;
}

.boto-tornar:hover {
    background-color: black;
    transform: translateY(-2px);
    box-shadow: 0 5px 15px red;
}


#pagina-portal{
    min-height: 100vh;
    padding : 20px;
    background-color: black;
}

.streams-container {
    display : flex;
    justify-content: center;
    gap : 20px;
    flex-wrap: wrap;
    margin : 30px 0;
}

.stream-camera {
    background-color: black;
    padding : 15px;
    border-radius: 10px;
    border : 2px solid white;
    text-align: center;
    width : 700px;
}

.stream-camera img {
    width : 100%;
    max-width: 640px;
    height : 480px;
    background-color: black;
    border : 1px solid white;
    border-radius: 5px;
}

.loading {
    filter : grayscale(1);
    opacity: 0.7;
}

.error-stream {
    border-color: white !important;
}